@import "../../styles/mixins.scss";

.Title {
  margin-top: 4rem;
  @include fontSize("4xl");
  @include fontWeight(600);
  @include color("grey-600");
}

.InputGroup {
  display: flex;
  justify-content: center;
  width: 80%;
  @include rounded("lg");
  align-items: center;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.05);
  }
  @include xs {
    width: 100%;
    padding: 0 10px;
  }
  @include sm {
    width: 100%;
    padding: 0 10px;
  }
  @include md {
    width: 80%;
    padding: 0 10px;
  }
  @include lg {
    width: 80%;
    padding: 0 10px;
  }
}

.InputSearch {
  padding: 6px 8px;
  font-size: 16px;
  @include box-shadow(2px, 2px, 4px, rgba(0, 0, 0, 0.3));
  border: none;
  height: 26px;
  width: 40%;
  &:focus {
    outline: none !important;
  }
  &::placeholder {
    font-family: Poppins;
    @include fontSize("md");
  }
  @include xs {
    width: 95%;
    @include rounded("sm");
  }
}

.ButtonSearch {
  width: 20%;
  @include button("white-full", "teal-500", "lg", 500, "xs");
  @include border-radius("xs", "lg", "lg", "xs");
  @include xs {
    width: 100%;
    @include rounded("sm");
  }
}
