@import "../../styles/mixins.scss";

.Title {
  margin-top: 4rem;
  @include fontSize("4xl");
  @include fontWeight(600);
  @include color("grey-600");
}

.GridContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-left: 10rem;
  padding-right: 10rem;
  @include xs {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 1fr;
  }
  @include sm {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
  }
  @include md {
    padding-left: 3rem;
    padding-right: 3rem;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
  }
  @include lg {
    padding-left: 6rem;
    padding-right: 6rem;
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
  }
  @include xl {
    grid-template-columns: 1.5fr 1.5fr 0.5fr;
  }
}

.InputGroup {
  display: flex;
  justify-content: center;
  width: 80%;
  @include rounded("lg");
  align-items: center;
  @include xs {
    width: 100%;
    padding: 0 10px;
  }
  @include sm {
    width: 100%;
    padding: 0 10px;
  }
  @include md {
    width: 80%;
    padding: 0 10px;
  }
  @include lg {
    width: 80%;
    padding: 0 10px;
  }
}

.InputSearch {
  padding: 6px 8px;
  font-size: 16px;
  border: 1px solid rgb(206, 206, 206);
  height: 26px;
  width: 100%;
  &:focus {
    outline: none !important;
  }
  &::placeholder {
    font-family: Poppins;
    @include fontSize("md");
  }
  @include xs {
    width: 95%;
    @include rounded("sm");
  }
}

.ButtonSearch {
  width: 20%;
  @include button("white-full", "teal-500", "lg", 500, "xs");
  @include border-radius("xs", "lg", "lg", "xs");
  @include xs {
    width: 100%;
    @include rounded("sm");
  }
  @include sm {
    width: 100%;
    @include rounded("sm");
  }
}
